@import "_globalVars.scss";

.advanced-options {
  display: flex;
  flex-direction: column;
  background-color: rgba(57, 98, 132, 0.1);
  padding: 1rem 10rem;

  .advanced-option-inputs {
    margin: 2rem 0;
  }

  .expand-link {
    margin-left: -2.6rem;
  }

  .validity-period-wrapper {
    display: flex;
    label {
      display: inline-block;
      width: 11rem;
      margin-right: 1rem;
      font-weight: 600;
      padding: 0.4rem 0;
      color: rgba(0, 0, 0, 0.54);
    }
    .date-picker-wrapper {
      flex: 1;
      &:first-of-type {
        margin-right: 3rem;
      }
    }
  }
}

.ReactModal__Content {
  overflow: unset !important;
}
