@import "_globalVars.scss";
@import "_mixins.scss";
@import "_typography.scss";
@import "~pretty-checkbox/src/pretty-checkbox.scss";

html {
  font-size: 62.5%; // For rem units support (62.5% of 16px = 10px -> easier calculations)
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}

/* <select>s and <option>s are just used to hold the form data and keep this data inside reduxForm control,
the actual dropdowns are styled as divs and <ul>s and the DOM events on their <li>s control the hidden <option>s */
select,
option {
  display: none !important;
}

::-webkit-input-placeholder {
  color: $disabled_font_color;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="search"],
input[type="email"] {
  font-family: "Roboto", "RobotoDraft", "Helvetica Neue", "Helvetica", "Arial",
    Sans-Serif;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  background-image: url("../images/backgrounds/backgroundHeader.jpg");
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: bottom;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", "RobotoDraft", "Helvetica Neue", "Helvetica", "Arial",
    Sans-Serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: $primary_font_color;
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url("https://s3.eu-central-1.amazonaws.com/developer-ui.bosch-iot-hub.com/assets/bosch_supergraphic_top.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 8px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 8px);
    background-image: url("https://s3.eu-central-1.amazonaws.com/developer-ui.bosch-iot-hub.com/assets/bosch-supergraphic-gray.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: top 0.25s ease-out, opacity 0.5s ease-out;
    z-index: -1;
  }

  &:before {
    content: "";
    background-color: slategray;
    opacity: 0;
    width: 100%;
    height: calc(100% - 8px);
    position: absolute;
    transition: top 0.25s ease-out, opacity 0.5s ease-out;
  }

  &.withBgPattern {
    &:after {
      opacity: 1;
    }
    &:before {
      opacity: 0.3;
    }
  }

  // Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  #registrations-form-container,
  .main-view {
    transition: 0.1s filter linear;
  }

  // blur on opened modal

  &.ReactModal__Body--open {
    #registrations-form-container,
    .main-view {
      filter: blur(5px);
      transition: 0.5s filter linear;
    }
    .notification {
      background-color: rgba(0, 0, 0, 0.9) !important;
      .notification-dismiss {
        background-color: rgba(0, 0, 0, 0.9) !important;
      }
      .notification-message {
        color: #fff !important;
      }
    }
  }
}

.main-view {
  margin: 0 $main-view-side-margin;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.2rem;
  letter-spacing: 0;
  font-weight: 300;
  color: $primary_font_color;
  text-transform: inherit;
  margin-bottom: 1rem;
  text-align: center;
}

.live-feed-headline {
  font-weight: 100;
  user-select: none;
  color: #303f4f;

  span {
    font-size: 0.5em;
  }

  span:first-child {
    font-weight: bold;
    background: #303f4f;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.75;
    padding: 0 0.2em;
    margin-right: 0.2em;
  }
}

#main-view-headline {
  margin-top: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.confirmation-modal {
  z-index: 3;
  position: fixed;
  top: calc(7vh + 2px);
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: radial-gradient(
    ellipse 200% 120% at bottom,
    rgba(22, 29, 37, 0.9),
    rgba(22, 29, 37, 0.34)
  );
}

.custom-scrollbar-1 {
  @include customScrollbar(6px, rgba(255, 255, 255, 0.1), 10px, transparent);
}

.custom-scrollbar-2 {
  @include customScrollbar(8px, rgba(255, 255, 255, 0.3), 10px, transparent);
}

// Material Design shadow
.shadow-z-1 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.shadow-z-2 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

// KEYFRAMES
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse-callout {
  0% {
    -webkit-box-shadow: 0 0 0 0 $accent_green;
    box-shadow: 0 0 0 0 $accent_green;
  }

  70% {
    -webkit-box-shadow: 0 0 5px 18px rgba($accent_green, 0);
    box-shadow: 0 0 5px 18px rgba($accent_green, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($accent_green, 0);
    box-shadow: 0 0 0 0 rgba($accent_green, 0);
  }
}

@keyframes pulseBlue {
  // Button animation onClick (:focus:not(:active))
  70% {
    box-shadow: 0 0 0 50px rgba(62, 146, 204, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(62, 146, 204, 0);
  }
}
@keyframes pulseWhite {
  // Button animation onClick (:focus:not(:active))
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  70% {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes spinAndShow {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}

// TODO: Define separate typography stylesheet file
.no-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #dedede;
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;
  height: 100%;

  .typed-cursor {
    font-size: 1.35em;
    font-weight: 300;
    color: $accent_blue;
  }
}
