@import "_globalVars.scss";
@import "_mixins.scss";

.confirmation-modal {
  z-index: 3;
  position: fixed;
  top: calc(7vh + 2px);
  left: 0px;
  right: 0px;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.confirmation-modal-inner {
  position: relative;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  border: 1px solid #cccccc;
  border-top: 0;
  width: 50%;
  max-height: 75vh;
  background: #fff;
  outline: none;
  border-radius: 4px;

  h2 {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 2.2rem;
    font-weight: 500;
    padding: 2.4rem 2.4rem 2rem 2.4rem;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }

  p {
    padding: 2.1rem 2.4rem;
    margin: 0;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);

    i {
      color: $accent_red;
    }
  }

  .confirmation-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 2.4rem 2.4rem 2.4rem;

    #delete-btn {
      @include outlineBtn($accent_blue);
    }
    #cancel-btn {
      @include flatBtn(#ccc, "");
      a {
        text-decoration: none !important;
        color: inherit;
      }
    }
  }
}
