@import "_globalVars.scss";

.edit-credential-modal {
  height: 85vh !important;
  max-height: 100vh;
  .secrets-headerIcon {
    opacity: 0.5;
  }
  .edit-credential-modal-body {
    padding: 0px 6rem;
    background: rgba(226, 226, 226, 0.45);
    transform: translateZ(0);
  }

  .arrow {
    position: relative;
    cursor: pointer;
    fill: rgba(255, 255, 255, 0.8);
    &.next {
      transform: rotate(270deg);
    }
    &.previous {
      transform: rotate(90deg);
      margin-left: -0.8rem;
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .removeButtonDisabled {
    fill: #757575;
  }

  .secrets-messageRemove {
    display: inline-flex;

    p {
      margin: 0 0.5rem 0 0;
      font-weight: 300;
    }
    button {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .secrets-dropdown {
    padding-left: 1%;
    width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    label {
      display: inline-block;
      color: rgba(0, 0, 0, 0.54);
      width: 11rem;
      margin-right: 1rem;
      font-weight: 600;
      padding: 0.4rem 0;
    }
  }

  .secrets-previousButton {
    position: relative;
    top: 77px;
    float: right;
  }

  .secrets-nextButton {
    position: relative;
    top: 77px;
    float: right;
  }

  .enabled-switch {
    font-size: 1.4rem;
  }

  .standard-field {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    height: 2.8rem;
    flex-wrap: wrap;
    label {
      display: inline-block;
      color: rgba(0, 0, 0, 0.54);
      width: 11rem;
      margin-right: 1rem;
      font-weight: 600;
      padding: 0.4rem 0;
    }
    .field-dropdown {
      display: inline-block;
    }
  }

  .general-info {
    width: 100%;
    flex: 1;
    margin-top: 5%;

    .standard-field {
      margin: 1rem;
    }
  }
  .secrets-config {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    background-color: #fff;
    position: relative;
    width: 100%;
    flex: 2;
    margin: 5% 0;
    min-height: 33.6rem;

    form[name="addNewSecret"] {
      .secret {
        background-color: #fff !important;
      }
    }

    form {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #c2c2c2;

      .secrets-nav-header {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background: #464f53;
        border: 1px solid #464f53;
        color: #fff;
        margin: 0 -1px;
        z-index: 3;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);

        .secrets-label {
          display: inline-flex;
          align-items: center;
          position: relative;
          z-index: 2;
          height: 2.5rem;
          white-space: nowrap;
          user-select: none;
          svg.add-pw-icon {
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
            path {
              fill: rgba(255, 255, 255, 0.8);
            }
          }
        }
        .cancel-button {
          background: none;
          border: none;
          font-size: 2rem;
          cursor: pointer;
          outline: none;
          color: rgba(255, 255, 255, 0.8);
          transform: rotate(45deg);
        }
        .secrets-buttons {
          display: inline-flex;
          position: relative;
          z-index: 2;
          svg {
            height: 2.25rem;
            width: 2.25rem;
            cursor: pointer;
            path {
              fill: rgba(255, 255, 255, 0.8);
            }
            &.secrets-editButton {
              padding-right: 1.5em;
              margin-right: 0.5em;
              border-right: 1px solid rgba(255, 255, 255, 0.3);
            }
            &.disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }
        }
      }
      .secrets-config-inner {
        display: flex;
        position: relative;
        width: 100%;
        flex: 1;
        .secret {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: #c2c2c2;
          position: absolute;
          transition: transform 0.35s cubic-bezier(0, 0, 0.2, 1);
          width: 100%;
          height: 100%;
          .animated-card {
            height: 100%;
            background-color: #fff;
            opacity: 0;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.24);
            transition: box-shadow 0.35s cubic-bezier(0, 0, 0.2, 1),
              opacity 0.35s cubic-bezier(0, 0, 0.2, 1);
            &.selected {
              z-index: 1;
              animation: upAndIn 0.35s cubic-bezier(0, 0, 0.2, 1) forwards;
              transform-origin: 50% 50%;
              opacity: 1;
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.24);
            }
          }
          .secrets-standard-fields {
            position: relative;
            margin-top: 1rem;
            padding: 0 1rem;
          }
          .secrets-advanced-options {
            display: flex;
            flex-direction: column;
            margin-bottom: 3.5rem;
            padding: 0 1rem 1rem 1rem;
            .expand-link {
              margin: 1.4rem 0;
            }
            .advanced-headline {
              color: $accent_blue;
            }
            .salt-input-wrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;
              input {
                flex: 1;
              }
              a {
                cursor: pointer;
                transition: opacity 0.2s ease-out;
                color: $accent_blue;
                opacity: 0.5;
                font-weight: 300;
                margin-right: 1rem;
                white-space: nowrap;
                margin: 0 0 0 1rem;
                &:hover {
                  opacity: 1;
                }
              }
            }
            .validity-period-wrapper {
              display: flex;
              align-items: center;
              label {
                display: inline-block;
                color: rgba(0, 0, 0, 0.54);
                width: 11rem;
                margin-right: 1rem;
                font-weight: 600;
                padding: 0.4rem 0;
              }
              .standard-field {
                flex: 1;
              }
              .date-picker-wrapper {
                flex: 1;
                &:first-of-type {
                  margin-right: 3rem;
                }
              }
            }
          }
          .fixed-footer {
            position: absolute;
            bottom: 1rem;
            width: calc(100% - 2rem);
            height: 2.5rem;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            button {
              font-size: 1.4rem;
              padding: 0 0.5rem 0 0;
              svg {
                height: 0.525em;
              }
            }
          }
        }
      }
    }
  }
}
