.select-box--wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.select-box--toggle {
  border: 1px solid #ddd;
  height: 30px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  align-items: center;
}

.select-box--arrow {
  transition: transform 0.3s;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.select-box--arrow-rotated {
  transform: rotateZ(180deg);
  transition: transform 0.3s;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.select-box--selected-item {
  padding: 4px 12px;
  padding-right: 30px;
  display: inline-block;
}

.select-box--main {
  position: absolute;
  height: 30px;
}

.select-box--items div {
  z-index: 2;
  background: white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 6px;
  padding-left: 20px;
  padding-right: 30px;

  &:hover {
    background: white;
    background-color: rgba(57, 98, 132, 0.1) !important;
    border: 1px solid #25a3cc;
  }
}
