@import "_globalVars.scss";
@import "_mixins.scss";

.script {
  height: 70vh !important;
}

.main-content {
  position: relative;
  display: inline-block;
}

.elements-align {
  display: inline-block;
  width: 100%;
}

.table {
  position: relative !important;
  font-size: 1.2rem !important;
  height: 30vh !important;
  width: 100% !important;
  display: inline-block !important;

  select {
    position: absolute !important;
    visibility: hidden !important;
  }
}

.header {
  height: 3rem !important;
  font-size: 1rem !important;

  ul {
    height: 2rem !important;
  }
}
