@import "_globalVars.scss";
@import "_mixins.scss";

.script {
  height: 70vh;
}

.mainContent {
  position: relative;
  display: inline-block;
}

.paragraph {
  display: inline-block;
}

.elementsAlign {
  display: inline-block;
  width: 100%;
}

.table {
  position: relative;
  font-size: 1.2rem;
  height: 30vh;
  width: 100%;
  display: inline-block;

  select {
    position: absolute;
    visibility: hidden;
  }
}

.header {
  height: 3rem;
  font-size: 1rem;

  ul {
    height: 2rem;
  }
}
