@import "_globalVars.scss";
@import "_mixins.scss";
.payload-modal-container {
  h5 {
    margin: 0;
    padding: 2.4rem;
  }
  .application-header-table-container {
    width: 100%;
    max-height: 20.875rem;
    overflow-y: auto;
    @include customScrollbar(8px, rgba(255, 255, 255, 0.3), 10px, transparent);
    .application-header-table {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 0;
      box-sizing: border-box;

      tr {
        width: 100%;
        padding: 0.4em 2.4rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        text-align: left;

        &:nth-child(odd) {
          background-color: $table_bg_accent;
        }
      }

      td {
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  #payload-code-block {
    position: relative;
    width: 100%;
    max-height: calc(75vh - 10.1rem - 20.875rem);
    background: $accent_color_light;
    color: #fff;
    overflow: auto;
    @include customScrollbar(8px, rgba(255, 255, 255, 0.3), 10px, transparent);

    pre {
      margin: 0;
      tab-size: 4;
      box-sizing: border-box;
      padding: 0 12.1rem 3em 3em;
      font-weight: 500;
      font-family: "Roboto Mono", monospace;
      height: 100%;
      overflow: auto;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}
