@import "_globalVars.scss";
@import "_mixins.scss";
/*
  This scss is structured in three parts: 
  1. general styles for the registrations card (#registrations-form-container)
  2. styles for the main panel collapsed (#registrations-main-content:not(.expanded))
  3. styles for the main panel expanded (#registrations-main-content.expanded) 
*/

// 1) General Styles

#registrations-form-container {
  #form-content {
    display: flex;
    height: calc(100% - 10rem);
    background-color: #f5f5f5;

    #registrations-side-content {
      position: relative;
      background-color: #fff;
      height: 100%;
      border-right: 1px solid #ccc;
      transition: width 0.2s;

      form {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .reg-listing {
        margin-top: 1.5rem;
        padding: 0.5rem 1%;
        height: unset !important;
        flex: 1;

        #reg-listing-content {
          @include customScrollbar(8px, rgba(0, 0, 0, 0.4), 10px, transparent);
        }
      }

      .expandButtonWrapper.right {
        right: 0;
        left: auto !important;
        .expandButton.right {
          right: 0;
          transform: translateX(+51%);
          left: auto !important;

          span {
            right: 7%;
            left: auto !important;
            transform-origin: 32% 55% !important;
          }

          &:before {
            right: -50%;
            left: auto !important;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
          }
        }
      }
    }
    #registrations-main-content {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      transition: flex-grow 0.2s, flex-shrink 0.2s, transform 0.2s;
      background-color: $accent_color;
      height: 100%;
      box-sizing: border-box;
      width: 6rem;

      #main-panel-headline-wrapper {
        padding: 3rem 3rem 0 3rem;
        #main-panel-headline {
          display: flex;
          position: relative;
          justify-content: space-between;
          align-items: center;
          height: 5rem;
          margin-bottom: 0.9rem;

          #action-buttons {
            a {
              outline: none;
              cursor: auto;

              svg {
                height: 2rem;
                width: 2rem;
                transition: opacity 0.2s;

                &:not(.disabled) {
                  cursor: pointer;
                }
                &.disabled {
                  opacity: 0.5;
                }

                &:last-child {
                  margin-left: 1rem;
                }

                path {
                  fill: #757575;
                }
              }
            }
          }

          #device-icon {
            height: 3rem;
            width: 3rem;
            position: absolute;
            left: -1.5rem;
            cursor: pointer;

            path {
              fill: #fff;
            }
          }

          h2 {
            margin: 0 1rem 0 5rem;
            font-size: 2.2em;
            font-weight: 500;
            color: $accent_color;
          }

          .spinner {
            width: 2rem;
            height: 2rem;

            & > * {
              background-color: rgba($accent_color, 0.19);
            }
          }

          span {
            height: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            & > * {
              display: inline-block;
            }
          }
        } // #main-panel-headline
      }
    } // #registrations-main-content
  } // #form-content
} // #registrations-form-container

// 2) Styles for Main Panel collapsed

#registrations-form-container:not(.expanded) {
  #registrations-side-content {
    flex: 1;
    width: 100%;
    border-right: 0 !important;
  }
  #registrations-main-content {
    transform: translateX(calc(100% - 6rem));
    flex: 0;

    // half circle cut out
    &:after {
      content: "";
      position: absolute;
      top: 12.9rem;
      left: -29px;
      width: 58px;
      height: 58px;
      transform: translateY(-50%);
      background-color: #fff;
      border-radius: 100% 100%;
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16),
        inset 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    // Hide every element of the main content except the #main-panel-headline (animated with Velocity.js)
    #tabs,
    #accordion-wrapper {
      display: none;
    }
  }
}

// 3) Styles for Main Panel expanded

#registrations-form-container.expanded {
  #registrations-side-content {
    width: 25%;
  }
  #registrations-main-content {
    transform: translateX(0%);
    flex: 3 1 75%;
    background: transparent !important;

    #main-panel-headline-wrapper {
      background-color: #fff;
      border-bottom: 1px solid #dfdfdf;
    }

    #tabs {
      display: block;
      margin: 0;
      padding: 0;
      text-transform: uppercase;

      a {
        cursor: pointer;
        outline: none;
        text-decoration: none;
        color: $disabled_font_color;
        z-index: 1;
        list-style: none;
        padding: 1rem;
        display: inline-block;
        font-weight: 500;
        position: relative;
        transition: color 80ms ease-in;
        user-select: none;

        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 0%;
          bottom: 0;
          left: 0;
          transition: height 80ms ease-in, background-color 80ms ease-in;
        }
      }

      a.active {
        color: $accent_green;
        &:before {
          height: 0.2rem;
          background-color: $accent_green;
        }
      }
    }

    #device-icon {
      left: 0 !important;
      cursor: auto !important;

      path {
        fill: $accent_color !important;
      }
    }

    #accordion-wrapper {
      margin: 3rem;
      background-color: transparent;
      flex: 1;
      display: flex;
      overflow-y: auto;
      #tab-content-wrapper:not(.reg-mode) {
        display: flex;
      }
      #tab-content-wrapper.reg-mode {
        display: block;
        min-height: unset;
      }
      #tab-content-wrapper {
        position: relative;
        z-index: 1;
        width: 100%;

        .accordion-tab {
          .accordion-tab-header {
            a {
              outline: none;
            }
            #settings-button-wrapper {
              height: 1.5rem;
            }

            .header-icon-right {
              cursor: pointer;
              z-index: 2;
              transition: transform 0.3s;
              width: 1.5rem;
              height: 1.5rem;
              margin-left: 1rem;
              path {
                fill: #757575;
              }
              &.callout {
                -webkit-animation-name: tada;
                animation-name: tada;
                -webkit-animation-duration: 2s;
                animation-duration: 2s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                animation-iteration-count: infinite;

                path {
                  fill: $accent_blue;
                }
              }
            }
            .caret-rotated {
              transform: rotateZ(180deg);
            }
          } // .accordion-tab.accordion-tab-header
          #info-console {
            display: block;
            position: relative;
            overflow-x: auto;
            @include customScrollbar(
              8px,
              rgba(255, 255, 255, 0.1),
              10px,
              transparent
            );

            &::-webkit-scrollbar {
              height: 8px;
            }
            &.opened {
              max-height: 100% !important;
              overflow: auto;
            }
            .fetching-overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: rgba(255, 255, 255, 0.19);
            }
          }
        } // .accordion-tab
        .add-tab {
          justify-content: center !important;

          &:not(.adding-mode) {
            cursor: pointer;
          }

          form {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;

            .close-arrow-btn {
              cursor: pointer;
              display: inline-block;
              height: 2rem;
              width: 2rem;
              margin-right: 1rem;
              overflow: visible;
              padding: 0.2rem;
              box-sizing: border-box;

              path {
                fill: $accent_color;
              }
            }
            #authId-searchbar {
              margin-right: 1rem;
              white-space: nowrap;
              input[type="text"] {
                border-width: 0 0 1px 0;
                border-color: #ccc;
                color: #757575;
                width: 28rem;

                &::placeholder {
                  color: transparent;
                }

                &:focus::placeholder {
                  font-weight: 100;
                  color: #ddd;
                }
              }
            }

            a {
              cursor: pointer;
              transition: opacity 0.2s ease-out;
              color: $accent_blue;
              opacity: 0.5;
              font-weight: 300;
              margin-right: 1rem;
              outline: none;

              &:hover {
                opacity: 1;
              }
            }
          }

          #add-form-content {
            transition: transform 0.3s cubic-bezier(0.08, 0.71, 0.29, 1);
            transform-origin: left;
            display: inline-flex;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
          }
          .add-icon {
            cursor: pointer;
            outline: none;
            transition: all 0.2s ease-out;
            background: transparent;
            border: none;
            svg {
              height: 2rem;
              width: 2rem;
              path {
                fill: $accent_color;
              }
            }

            &:hover:not(.adding-mode) {
              opacity: 1 !important;
            }
            &:disabled:not(.adding-mode) path {
              fill: $disabled_font_color;
            }
            &:disabled.adding-mode {
              cursor: not-allowed;
              opacity: 0.5;
              path {
                fill: $disabled_font_color;
              }
            }
          }
        } // .add-tab
      } // #tab-content-wrapper
    } // #accordion-wrapper
  }
} // #registrations-main-content.expanded
