/* Storybook Stories add two container divs around the story. (Between the decorator and the component). That means
 the styles that should be used as container styles have to be applied to the child two layers under the decorator div. */
.storyStayFlex {
  height: 45vh;
  position: relative;
  & > div > div {
    position: absolute;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
}

header {
  width: 90vw;
}

.allStory {
  margin: 0 2rem 2rem 2rem;
  padding-bottom: 2rem;
  position: relative;
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  header {
    width: 100% !important;
    box-sizing: border-box;
  }
}

.cardStory {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.styleguide-card {
  h1 {
    margin-bottom: 4rem;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 75vh;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  padding: 10rem;

  .styleguide-card-row {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    & > * {
      margin: 0 2rem;
    }
  }
}

.json-editor-container {
  width: 100%;
  height: 100%;
  position: relative;
  & > div {
    height: 100%;
  }
}
